@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@400;700&display=swap');

/*
Color Scheme - Some colors aren't used at this point, but I plan to update styling at a later date
Light Grey: #EBEBF2
Blue: #4162A6
Green: #66D9AF
Brown: #A69576
Peach: #F2C0A2
*/


/* styling for the body elements */
body {
    background-color: #EBEBF2;
    color: #4162A6;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

/* Utility Classes to format the rows and columns as desired  */
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-row {
    display: flex;
    justify-content: space-evenly;
    border: 6px solid #4162A6;
    border-radius: 12px;
}

#chore-heading {
    margin: 0;
    font-family: 'Pacifico', cursive;
}

#img-container {
    display: flex;
    justify-content: center;
}

#helmi-pic {
    height: 300px;
    width:300px;
    border-radius: 50%;
    border: 6px solid #4162A6;
}

button {
    width: 100px;
    height: 30px;
    padding: 0px;
    margin: 10px;
    text-align: center;
    background-color: #4162A6;
    color: #EBEBF2;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 15px;
}

#chore-timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#prizes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
    width: 100%;
}