@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@400;700&display=swap");

/* CSS Variables for Color Scheme */
:root {
  --grey: #ebebf2;
  --blue: #4162a6;
}

/* General Formatting for Body of Page */
body {
  background-color: var(--grey);
  color: var(--blue);
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  height: 100vh;
  margin: 0;
}

/* Formatting for entire "chart" element */
#chart {
  border: 6px solid var(--blue);
  border-radius: 12px;
  max-width: 90%;
}

/* Formatting for columns of chart */
.chart-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  max-height: 90%;
}

/* Formatting for the title */
#chart-title {
  margin: 0;
  font-family: "Pacifico", cursive;
  text-align: center;
}

/* Formatting for the image */
#helmi-pic {
  height: 350px;
  width: 600px;
  border-radius: 8%;
  border: 6px solid var(--blue);
  object-fit: cover;
}

/* Formatting for the buttons */
button {
  width: 100px;
  height: 30px;
  margin: 10px;
  text-align: center;
  background-color: var(--blue);
  color: var(--grey);
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  transition-duration: 200ms;
}

button:hover, button:focus {
  transform: scale(1.1);
}

/* Formatting for the prize and timer divs */
#prizes {
  width: 100%;
  height: 80%;
  text-align: center;
}

#chore-timer {
  padding: 10px;
}

/* Grouping frequently used properties */
body,
#img-container,
#chore-timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#chart,
#img-container {
  display: flex;
  justify-content: center;
}
